$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";
@import 'typography';
@import 'nav';
@import 'ember-contenteditable';
@import 'message';
@import 'forms';

/* Put your CSS here */
html, body {
    margin: 30px 0;
    @include raleway();
}

h1, h2, h3, h4 { 
  @include mw();
}

.ember-view { 
  outline: 0;
}