<label>{{view.label}}</label>
<a class="revert-button pull-right btn btn-link muted btn-sm" data-toggle="tooltip" data-placement="top" title="Revert Changes">
  <span class="glyphicon glyphicon-floppy-remove text-muted revert-changes"></span>
</a>
