<!--<form>{{empty-focus-input valueBinding="name" name="name" classNames="focus"}} <button {{action 'save'}} class="btn btn-default"> ok </button></form>-->

<div class="well">
  {{#link-to 'clients'}}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>{{/link-to}}
  <h4>Add a Client</h4>

  <form role="form">
    <div class="form-group">
      {{empty-focus-input valueBinding="name" name="name" placeholder="name" required="true"}} 
    </div>
    <div class="form-group">
      <button type="submit" {{action 'save'}} class="btn btn-primary">ok</button>
      {{#link-to 'clients'}}<button type="cancel" class="btn btn-default">cancel</button>{{/link-to}}
    </div>
  </form>
</div>